.create{
    background-color: $purple-bg;
    border: none;
    a{
        text-decoration: none;
        color: $light-tx;
    }
}
.search{
    background-color: $purple-bg;
    border: none;
    color: $light-tx;
}