.create{
    background-color: $purple-bg;
    border: none;
    a{
        text-decoration: none;
        color: $light-tx;
    }
}
.search{
    background-color: $purple-bg;
    border: none;
    color: $light-tx;
}

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Backgrounds
// $light-bg: #F2E9E4;
// $sand-bg: #C9ADA7;
// $grey-bg: #9A8C98;
// $purple-bg: #4A4E69;
// $darkpurple-bg: #22223B;

// Texts
// $light-tx: #F2E9E4;
// $sand-tx: #C9ADA7;
// $grey-tx: #9A8C98;
// $purple-tx: #4A4E69;
// $darkpurple-tx: #22223B;

@import url("https://fonts.googleapis.com/css?family=Montserrat");





h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: $darkpurple-bg;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b3b8cd;
	padding-top: 30px;
	position: relative;
	width: 100%;
	text-align: center;
	.pro {
		color: $darkpurple-tx;
		background-color: #febb0b;
		border-radius: 3px;
		font-size: 14px;
		font-weight: bold;
		padding: 3px 7px;
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.img-container{
		width: 50%;
		margin: 0 auto;
	}
}

button.primary {
	background-color: $light-bg;
	border: 1px solid $light-bg;
	border-radius: 3px;
	color: $darkpurple-tx;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 7px 15px;
}

button.primary.ghost {
	background-color: transparent;
	color: $light-bg;
}

.skills {
	background-color: $more-darkpurple-bg;
	text-align: left;
	padding: 15px;
	margin-top: 20px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2d2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.buttons{
    margin-top: 20px;
}

.btn-edit{
    background-color: $grey-bg;
}