header{
    background-color: $darkpurple-bg;
    .navbar-brand{
        color: $sand-tx;
    }
    .nav-link{
        color: $light-tx;
        font-weight: bold;
        .choice-button{
            position: relative;
            display: flex;
            justify-content: center;
        }
        .active{
            color: $grey-tx;
            &::after{
                position: absolute;
                bottom: -1rem;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $grey-bg;
            }
        }
    }
}