header{
    background-color: $darkpurple-bg ;
    .navbar-brand{
        color: $more-darkpurple-tx;
        text-align: center;
        font-weight: bolder;

        div{
            background-color: $button;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            p{
                font-size: 20px;
                position: absolute;
                top: 50%;  /* position the top  edge of the element at the middle of the parent */
                left: 50%; /* position the left edge of the element at the middle of the parent */

                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }
    .nav-link{
        color: $light-tx;
        font-weight: bold ;
        .active{
            color: $grey-tx ;
        }
    }
    .dropdown-menu{
        background-color: $darkpurple-bg ;
        padding: 0px;
        margin: 0px;
        .dropdown-item{
            color: $light-tx;
        }
        .dropdown-item:hover{
            background-color: $darkpurple-bg ;
            color: $grey-bg;
        }   
    }
}
    
