header{
    background-color: $darkpurple-bg ;
    .navbar-brand{
        color: $sand-tx ;
    }
    .nav-link{
        color: $light-tx;
        font-weight: bold ;
        .active{
            color: $grey-tx ;
        }
    }
    .dropdown-menu{
        background-color: $darkpurple-bg ;
        padding: 0px;
        margin: 0px;
        .dropdown-item{
            color: $light-tx;
        }
        .dropdown-item:hover{
            background-color: $darkpurple-bg ;
            color: $grey-bg;
        }   
    }
}
    
