.card{
    background-color: transparent !important;

    .card-header{
        background-color: transparent !important;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }
}

.btn{
    vertical-align: baseline !important;
}
