.shower{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

button{
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bolder;
    border: 0px;
    color: $light-tx;
}

.comment-show{
    border-radius: 20px;
    color: $light-tx;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);

    hr{
        color: $more-darkpurple-bg;
        border-top: 5px solid $more-darkpurple-bg;
        border-radius: 50%;
    }

    .nomi{
        font-size: 20px;
        font-weight: bold;
    }

    .commento{
        text-align: justify;
        background-color: $purple-bg;
        padding: 5px;
        border-radius: 5px;
    }
}

input, textarea, select{
    background-color: $purple-bg !important;
    color: $sand-tx !important;
    border: 1px solid $light-bg !important;
}

::placeholder{
    color: $grey-tx !important;
}

label{
    font-weight: bold !important;
}

#rev, #comment{
    margin-bottom: 40px;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
}

.face{
    transform: rotate(90deg);
    width: 40%;
    
    p{
        line-height: 100%;
        text-align: center;
        font-size: 90px;
    }
}