// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Backgrounds
$light-bg: #F2E9E4;
$sand-bg: #C9ADA7;
$grey-bg: #9A8C98;
$purple-bg: #4A4E69;
$darkpurple-bg: #22223B;

// Texts
$light-tx: #F2E9E4;
$sand-tx: #C9ADA7;
$grey-tx: #9A8C98;
$purple-tx: #4A4E69;
$darkpurple-tx: #22223B;